.clock {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 15%;
  padding-bottom: 5%;
  height: 25%;
}

.time {
  font-size: calc(10px + 6vw + 4vh);
  color: black;
  font-weight: 1;
  margin-bottom: 5%;
}

.date {
  font-size: calc(10px + 2vw + 1vh);;
  color: black;
}
