<div class="top-bar">
  <div class="network">
    <div class="signal-strength">
      <div class="signal-bar" [style.height]="'4px'"></div>
      <div class="signal-bar" [style.height]="'8px'"></div>
      <div class="signal-bar" [style.height]="'12px'"></div>
      <div class="signal-bar" [style.height]="'16px'"></div>
    </div>
  </div>
  <div class="battery">
    <i class="fas" [ngClass]="{
      'fa-battery-empty': batteryPercentage <= 0,
      'fa-battery-quarter': batteryPercentage > 0 && batteryPercentage <= 25,
      'fa-battery-half': batteryPercentage > 25 && batteryPercentage <= 50,
      'fa-battery-three-quarters': batteryPercentage > 50 && batteryPercentage <= 75,
      'fa-battery-full': batteryPercentage > 75
    }"></i>
    <span>{{ batteryPercentage | number: '1.0-0' }}%</span>
  </div>
</div>
