.discord-bar {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #2d2d35;
  color: #ffffff;
  padding: 10px;
  height: 114px;
}

.action-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
}

.action-item svg {
  width: 24px;
  height: 24px;
  color: #787b82;
}

.selected svg{
  color: #ffffff;
}

.selected span {
  color: #ffffff;
  font-weight: bold;
}

.action-item span {
  color: #b9bbbe;
}

.action-item:hover span {
  color: #ffffff;
}

.user-icon-container {
  position: relative;
}

.user-icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.status-indicator {
  position: absolute;
  bottom: 1px;
  right: -8px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #2d2b37;
}

.status-indicator.online {
  background-color: #43b581;
}